body {
	background-image : url(../img/anime-fon.jpg);
}

.left {
	margin: 0 auto;
    height:100%;
	background-color: blue;
	border-radius: 10px
}

.right {
	margin: 0 auto;
    height:100%;
	background-color: red;
	border-radius: 10px
}

.news{
	margin: 0 auto;
    height:100%;
	/* background-color: white; */
	/* border-radius: 10px;
	padding-bottom: 10px; */
   /*  padding-top: 10px; */
}

.main_body{
	margin: 10px auto;
    height: auto;
}

.no-margin {
	margin: 0 !important
}

.no-padding {
	padding: 0 !important
}

.img-main{
	width: 280px;
}

.pull-left {
  float: left;
}

 .clip {
	height: 200px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.news-header{
	
}

.news-header-panel{
	background-color: blueviolet;
	background: url(../img/one_piece_cover5.jpg);
    /* -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover; */
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.category{

}

.news-body{
	padding-bottom: 10px;
    padding-top: 10px;
}

.rating{
	margin-bottom: 0px; 
	margin-top: 10px; 
	padding: 10px; 
	text-align: center;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}

.news-footer{ 
	/* text-align: right; */
	background-color: blueviolet;
	height: 55px;
}

.rating_help {
    /* display: inline-block; /* Строчно-блочный элемент */ */
    position: relative; /* Относительное позиционирование */
}
   .rating_help:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; bottom: -28px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(0,42,167,0.6); /* Полупрозрачный цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}
   
.value_rating{
		font-weight: bold;
}
	 
.scan{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    /* cursor: pointer; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	color: #fff; 
    background-color: #5cb85c; 
    border-color: #4cae4c; 
}

.news-panel{
  
  width:90%;
  height:90%;

  transition: width 1s;
  -moz-transition: width 1s; /* Firefox 4 */
  -webkit-transition: width 1s; /* Safari and Chrome */
  -o-transition: width 1s; /* Opera */
  -ms-transition: width 1s; /* IE9 (maybe) */
  
}

.news-panel:hover
{
    width:100%;
    height: 100%;
}

.plus{
	background-color: blueviolet;
	background: url(../img/agh_plus.png);
    /* -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover; */
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   height: 60px;
   width: 60px;
   display: block;

}

.plus:hover{
	background: url(../img/agh_plus_hover.png);
}

.minus{
   background-color: blueviolet;
   background: url(../img/agh_minus.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   height: 60px;
   width: 60px;
   display: block;
}

.minus:hover{
	background: url(../img/agh_minus_hover.png);
}

.plus-div{
	margin-top: -40px;
	margin-left: 45%;
    text-align: center;
}

.circle{
	 width:100px;
	 height:100px;
	 display:block;
	 border-radius:50px;
	 -moz-border-radius:50px;
	 -webkit-border-radius:50px;
	 -khtml-border-radius:50px;
	 font-size:20px; color:#fff;
	 line-height:100px;
	 text-align:center;
	 background:#000
}
   
.img-body{
	text-align:center;
}

.img-header{
	max-width: 100%;
    height: auto;
}

.anime{
	padding-top: 5%; 
}